<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://cosmosdbdemo00001.documents.azure.com:443/" />
    <add key="PrimaryKey" value="kMsClf75smovoDN0rp17fMQpcK71QiP3ngBmL6JtwiFJm0LPv267Z1ots2Iln0W5UWDoCCNeRVllACDb40tUjA==" />
  </appSettings>
</configuration>